/* input normal */

.input-with_label__input {
  padding: 0.6em 0.8em;
  background-color: var(--third-business-color);
  outline: none;
  font-size: 1em;
  color: var(--secondary-business-color);
  /* caret-color: var(--primary-text-color, var(--primary-business-color)); */
  border: none;
  width: 100%;
  border-bottom: 1px solid var(--primary-text-color);
}

.input-with_label__input-active {
  border-bottom: 1px solid var(--secondary-business-color);
}

.input-with_label__input__container {
  position: relative;
  height: 2em;
  margin-top: 0.4em;
  display: flex;
  align-items: center;
}

.input-with_label__input:-webkit-autofill,
.input-with_label__input:-webkit-autofill:hover,
.input-with_label__input:-webkit-autofill:focus,
.input-with_label__input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0px 1000px transparent inset;
  -webkit-text-fill-color: white;
  transition: background-color 5000s ease-in-out 0s;
  caret-color: transparent;
}

.input-with_label__label {
  position: absolute;
  bottom: 7px;
  left: 13px;
  transition-duration: 300ms;
  color: var(--primary-text-color);
}

/* .input-with_label__input__container:focus-within .input-with_label__label,
.input-with_label__input:valid ~ .input-with_label__label {
  top: 0;
  transform: translateY(-10px);
  font-size: 0.8em;
  color: var(--secondary-business-color);
} */

.input-with_label__label--active {
  top: 0;
  transform: translateY(-10px);
  font-size: 0.8em;
  color: var(--secondary-business-color);
}
