<div class="input-with_label__input__container">
  @if (type() === "file") {
    <input
      id="{{ for() }}"
      type="file"
      class="input-with_label__input input-with_label__input"
      (change)="handlerOnChange($event)"
      (blur)="onTouched()"
      accept=".png, .jpeg, .jpg, .webp"
      required
    />
  }
  @else {
    @if (shape() === "normal"){
      <label
        class="input-with_label__label"
        [ngClass]="{ ' input-with_label__label--active': value !== '' }"
        for="{{ for() }}"
      >
        {{ placeholder() }}
      </label>

      <input
        id="{{ for() }}"
        type="{{ type() }}"
        class="input-with_label__input"
        (input)="handlerOnChange($event)"
        (blur)="onTouched()"
        [value]="value"
        required
      />
    }
    @else {
      <label
        class="input-with_label-circle__label"
        [ngClass]="{ 'input-with_label-circle__label--active': value !== '' }"
        for="{{ for() }}"
      >
        {{ placeholder() }}
      </label>

      <input
        id="{{ for() }}"
        type="{{ type() }}"
        class="input-with_label-circle__input"
        (input)="handlerOnChange($event)"
        (blur)="onTouched()"
        [value]="value"
        required
      />
    }
  }
</div>
