.actions {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.actions__sections {
  display: flex;
  gap: 0.6em;
}

.category__dropdown {
  width: 15em;
}

.create-new__btn {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  cursor: pointer;
  width: 8em;
  border: none;
  border-radius: 5px;
  background-color: var(--primary-success-color);
  color: #eee;
}

.create-new__btn--hover:hover {
  background-color: var(--primary-success-color-hover);
}

@media (min-width: 360px) and (max-width: 830px) {
  .category__dropdown {
    display: none;
  }

  .create-new__btn {
    display: none;
  }
}
