<form
  [formGroup]="loginForm"
  class="login__form"
  (submit)="submit()"
>
  <div class="form-input-container">
    <app-input-with-label
      placeholder="Username"
      type="text"
      for="username-field"
      formControlName="username"
    />

    @if (isPristineField("username") && isValidField("username")) {
      <span class="form-error">{{ handlerFormErrors("username") }}</span>
    }
  </div>

  <div class="form-input-container">
    <app-input-with-label
      placeholder="Email"
      type="email"
      for="email-field"
      formControlName="email"
    />

    @if (isPristineField("email") && isValidField("email")) {
      <span class="form-error">{{ handlerFormErrors("email") }}</span>
    }
  </div>

  <div class="form-input-container">
    <app-input-with-label
      placeholder="Password"
      type="password"
      for="password-field"
      formControlName="password"
    />

    @if (isPristineField("password") && isValidField("password")) {
      <span class="form-error">{{ handlerFormErrors("password") }}</span>
    }
  </div>

  <button
    type="submit"
    [disabled]="loginForm.valid"
    [ngClass]="{'login-submit__btn--active': loginForm.valid}"
    class="login-submit__btn"
    [disabled]="loginForm.invalid"
    (submit)="submit()"
  >
    Login
  </button>

  <div class="login-form-link__container">
    <a routerLink="/auth/register" class="login-form__link">No tengo una cuenta.</a>
    <a routerLink="/auth/recover-password" class="login-form__link">Olvide mi contraseña</a>
  </div>
</form>
