<aside>
  <div class="logo__container">
    <a routerLink="/dashboard">
      <app-sim-logo-icon width="50" height="50" fill="#1b85fe" />
    </a>
  </div>

  <nav class="sidebar__navbar__container">
    @for (item of listPath; track $index) {
    <li class="sidebar__navbar__li">
      <a
        routerLink="{{ item.path }}"
        routerLinkActive="{{ item.activate }}"
        class="sidebar__navbar__link"
        [ariaDescription]="item.name"
        [attr.aria-label]="item.name"
      >
        <ng-container *ngComponentOutlet="item.icon"></ng-container>
      </a>
    </li>
    }
  </nav>
</aside>
