<dialog class="edit-product-dialog">
  <h2 class="edit-product-dialog__title">Editar Producto</h2>

  <form
    [formGroup]="editProductForm"
    (submit)="submit($event)"
    class="edit-product-dialog__form"
  >
    <app-input-with-label
      for="name-input"
      type="text"
      formControlName="name"
      placeholder="Name"
      required
    />

    <app-input-with-label
      for="image-input"
      type="file"
      formControlName="image"
      placeholder="Image"
      required
    />

    <app-input-with-label
      for="stock-input"
      type="text"
      formControlName="stock"
      placeholder="Stock"
      required
    />

    <app-input-with-label
      for="cost-input"
      type="text"
      formControlName="cost"
      placeholder="Cost"
      required
    />

    <app-input-with-label
      for="price-input"
      type="text"
      formControlName="price"
      placeholder="Price"
      required
    />

    <app-input-with-label
      for="category-input"
      type="text"
      formControlName="category"
      placeholder="Category"
      required
    />

    <app-input-with-label
      for="available-input"
      type="text"
      formControlName="available"
      placeholder="Available"
      required
    />
  </form>

  <div class="edit-product-dialog__btn-container">
    <button
      class="edit-product-dialog__btn edit-product-dialog__btn--cancel"
      (click)="cancel()"
    >
      Cancelar
    </button>
    <button
      type="submit"
      class="edit-product-dialog__btn edit-product-dialog__btn--accept"
      (click)="submit($event)"
    >
      Aceptar
    </button>
  </div>
</dialog>
