@font-face {
  font-family: "Satoshi-Light";
  src: url("assets/fonts/Satoshi-Light.woff2") format("woff2"), url("assets/fonts/Satoshi-Light.woff") format("woff"),
    url("assets/fonts/Satoshi-Light.ttf") format("truetype");
  font-weight: 300;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "Satoshi-LightItalic";
  src: url("assets/fonts/Satoshi-LightItalic.woff2") format("woff2"), url("assets/fonts/Satoshi-LightItalic.woff") format("woff"),
    url("assets/fonts/Satoshi-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-display: swap;
  font-style: italic;
}

@font-face {
  font-family: "Satoshi-Regular";
  src: url("assets/fonts/Satoshi-Regular.woff2") format("woff2"), url("assets/fonts/Satoshi-Regular.woff") format("woff"),
    url("assets/fonts/Satoshi-Regular.ttf") format("truetype");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "Satoshi-Italic";
  src: url("assets/fonts/Satoshi-Italic.woff2") format("woff2"), url("assets/fonts/Satoshi-Italic.woff") format("woff"),
    url("assets/fonts/Satoshi-Italic.ttf") format("truetype");
  font-weight: 400;
  font-display: swap;
  font-style: italic;
}

@font-face {
  font-family: "Satoshi-Medium";
  src: url("assets/fonts/Satoshi-Medium.woff2") format("woff2"), url("assets/fonts/Satoshi-Medium.woff") format("woff"),
    url("assets/fonts/Satoshi-Medium.ttf") format("truetype");
  font-weight: 500;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "Satoshi-MediumItalic";
  src: url("assets/fonts/Satoshi-MediumItalic.woff2") format("woff2"), url("assets/fonts/Satoshi-MediumItalic.woff")
    format("woff"), url("assets/fonts/Satoshi-MediumItalic.ttf") format("truetype");
  font-weight: 500;
  font-display: swap;
  font-style: italic;
}

@font-face {
  font-family: "Satoshi-Bold";
  src: url("assets/fonts/Satoshi-Bold.woff2") format("woff2"), url("assets/fonts/Satoshi-Bold.woff") format("woff"),
    url("assets/fonts/Satoshi-Bold.ttf") format("truetype");
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "Satoshi-BoldItalic";
  src: url("assets/fonts/Satoshi-BoldItalic.woff2") format("woff2"), url("assets/fonts/Satoshi-BoldItalic.woff") format("woff"),
    url("assets/fonts/Satoshi-BoldItalic.ttf") format("truetype");
  font-weight: 700;
  font-display: swap;
  font-style: italic;
}

@font-face {
  font-family: "Satoshi-Black";
  src: url("assets/fonts/Satoshi-Black.woff2") format("woff2"), url("assets/fonts/Satoshi-Black.woff") format("woff"),
    url("assets/fonts/Satoshi-Black.ttf") format("truetype");
  font-weight: 900;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "Satoshi-BlackItalic";
  src: url("assets/fonts/Satoshi-BlackItalic.woff2") format("woff2"), url("assets/fonts/Satoshi-BlackItalic.woff") format("woff"),
    url("assets/fonts/Satoshi-BlackItalic.ttf") format("truetype");
  font-weight: 900;
  font-display: swap;
  font-style: italic;
}

@font-face {
  font-family: "Satoshi-Variable";
  src: url("assets/fonts/Satoshi-Variable.woff2") format("woff2"), url("assets/fonts/Satoshi-Variable.woff") format("woff"),
    url("assets/fonts/Satoshi-Variable.ttf") format("truetype");
  font-weight: 300 900;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "Satoshi-VariableItalic";
  src: url("assets/fonts/Satoshi-VariableItalic.woff2") format("woff2"), url("assets/fonts/Satoshi-VariableItalic.woff")
    format("woff"), url("assets/fonts/Satoshi-VariableItalic.ttf") format("truetype");
  font-weight: 300 900;
  font-display: swap;
  font-style: italic;
}

:root {
  --primary-color: #0b0c10;
  --secondary-color: #14161c;
  --primary-business-color: #1b85fe;
  --primary-business-color-hover: #52a0fa;
  --secondary-business-color: #afc3d9;
  --third-business-color: #313d4bb5;
  --primary-text-color: #6f707f;
  --secondary-text-color: #4e4f58;
  --third-text-color: #42444e8c;
  --primary-success-color: #238636;
  --primary-success-color-hover: #3fa553;
  --primary-unsuccess-color: #f51720;
  --secondary_success-color: #a9ffdd;
  --secondary_unsuccess-color: #ffb2b4;
  --third-success-color: #00a2612f;
  --third-unsuccess-color: #f5171e2c;
  --warn-color: #f8d210;
}

body {
  overflow-x: hidden;
  background-color: var(--primary-color);
  height: 100vh;
}

.--activate-sidebar-link {
  background-color: var(--primary-business-color);
  height: 3em;
  width: 3em;
  transition-duration: 500ms;
}

.form-error {
  color: var(--secondary_unsuccess-color);
}

.spacer {
  height: 8em;
  display: block;
  width: 100%;
}

.form-input-container {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

.global-alert {
  background-color: var(--secondary_unsuccess-color);
  color: var(--primary-unsuccess-color);
  padding: 0.4em 0.8em;
  position: fixed;
  bottom: 45px;
  right: 10px;
}
