<app-actions-bar
  title="Productos"
  dropdownTitle="Selecciona una categoria"
  (searchTerm)="searchProduct($event)"
  (evtDropdownOptionSelected)="dropdownOptionSelected($event)"
  (evtCreateNewBtnClicked)="openCreateNewProductDialog($event)"
  [dropdownOptionList]="getCategories()"
>
</app-actions-bar>

<ng-container *ngIf="editProductModalFlag()">
  <app-edit-product-dialog
    [product]="editProductSelected()"
    (isConfirm)="confirmEditProduct($event)"
  />
</ng-container>

<ng-container *ngIf="deleteProductModalFlag()">
  <app-confirm-delete-dialog
    (isConfirm)="confirmDeleteProduct($event)"
    [product]="deleteProductSelected()"
    title="Confirmar eliminacion"
  />
</ng-container>

<ng-container *ngIf="addProductModalFlag()">
  <app-add-product-dialog
    dialogTitle="Crear un producto"
    (evtCloseCreateNew)="closeCreateNewProductDialog($event)"
    (evtConfirmCreateNew)="confirmCreateProduct($event)"
  />
</ng-container>

@if (!skeletonLoaderFlag()) {
  <table id="product__table__container">
    <thead>
      <tr>
        <th data-sort="code">Codigo</th>
        <th data-sort="name">Nombre</th>
        <th data-sort="image">Imagen</th>
        <th data-sort="stock">Stock</th>
        <th data-sort="cost">Costo</th>
        <th data-sort="price">Precio</th>
        <th data-sort="categoryName">Categoria</th>
        <th data-sort="available">Habilitado</th>
        <th data-sort="available">Acciones</th>
      </tr>
    </thead>
    <tbody>
      @for(product of productList(); track product.id){
      <tr>
        <td>{{ product.code }}</td>
        <td>{{ product.name }}</td>
        <td class="product__table__header__field__list_image">
          <img
            class="product__table__header__field__list_image"
            src="{{ product.imageUrl | defaultImage}}"
            alt="producto {{ product.name }}"
          />
        </td>
        <td>{{ product.stock }}</td>
        <td>{{ product.cost }}</td>
        <td>{{ product.price }}</td>
        <td>{{ product.categoryName }}</td>
        <td>{{ product.available | isAvailable }}</td>
        <td>
          <div class="product__table__header__actions__row">
            <app-reverse-fill-button
              text="Editar"
              buttonType="rounded"
              (evtClick)="editProduct(product.id)"
            />

            <app-reverse-fill-button
              text="Eliminar"
              color="unsuccess"
              buttonType="rounded"
              (evtClick)="deleteProduct(product.id)"
            />
          </div>
        </td>
      </tr>
      }
    </tbody>
  </table>

    <div class="table-pagination__footer">
      <div class="table-pagination__1row">
        <p>Total de paginas: <span class="pages-count">{{ pagination().totalPages }}</span></p>
      </div>

      <div class="table-pagination__2row">
        <label for="page__input">Pagina actual: </label>
        <input
          id="page__input"
          type="number"
          min="0"
          max="{{ pagination().totalPages }}"
          contenteditable="false"
          value="{{ pagination().currentPage }}"
          (input)="changePage($event)"
        >
      </div>
    </div>
}@else {
  <app-table-skeleton [tableDataList]="[1,2,3,4,5,6,7,8,9]"/>
}
<span class="spacer"></span>
