#product__table__container {
  width: 100%;
  overflow-x: auto;
  display: block;
  border-collapse: separate;
  border-spacing: 0;
}

th {
  padding: 10px;
  text-align: start;
  font-weight: 800;
  border-bottom: 1px solid var(--third-business-color);
}

tr {
  height: 3em;
}

td {
  padding: 10px;
  text-wrap: wrap;
  border-bottom: 1px solid var(--third-business-color);
}

.product-table-header-field-list__image img {
  max-width: 4em;
  max-height: 4em;
  display: block;
  margin: auto;
  border-radius: 5px;
}

#page__input {
  border: none;
  outline: none;
  background-color: transparent;
  margin-left: 0.4em;
  color: var(--secondary-business-color);
  border-bottom: 1px solid var(--primary-business-color);
}

.pages-count {
  margin-left: 0.4em;
  color: var(--secondary-business-color);
}

.product-table-header-actions__row {
  display: flex;
  gap: 1em;
}

.table-pagination__footer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;

  .table-pagination__1row {
    grid-column: 1 / 2;
  }

  .table-pagination__2row {
    grid-column: 2 / 3;
  }
}

.product__table__header__actions__row > button {
  border-radius: 20px;
  outline: none;
  background-color: transparent;
  cursor: pointer;
  transition-duration: 400ms;

  &:nth-child(1) {
    /* background-color: var(--primary-success-color); */
    border: 1px solid var(--secondary_success-color);
    color: var(--secondary_success-color);
    padding: 0.5em 1em;

    &:hover {
      background-color: var(--secondary_success-color);
      color: var(--primary-success-color);
    }
  }

  &:nth-child(2) {
    /* background-color: var(--secondary-unsuccess-color); */
    border: 1px solid var(--secondary_unsuccess-color);
    color: var(--secondary_unsuccess-color);
    padding: 0.5em 1em;

    &:hover {
      background-color: var(--secondary_unsuccess-color);
      color: var(--primary-unsuccess-color);
    }
  }
}

.ease-in-animation {
  animation-duration: 400ms;
  animation-name: ease-in-animation;
  animation-timing-function: cubic-bezier(0.13, 0.52, 0.33, 0.81);
  animation-iteration-count: 1;
}

.ease-out-animation {
  animation-duration: 400ms;
  animation-name: ease-out-animation;
  animation-timing-function: cubic-bezier(0.13, 0.52, 0.33, 0.81);
  animation-iteration-count: 1;
}

@keyframes ease-in-animation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes ease-out-animation {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@media (max-width: 768px) {
  #product__table {
    width: 100%;
  }

  th,
  td {
    font-size: 0.9em;
    padding: 10px 20px;
  }
}
